/* make scrolling smooth */

html {
scroll-behavior: smooth;
}


/* 
 get rid of padding & sizing on body so
 header is at top
*/

body {
box-sizing: border-box;
padding: 0;
margin: 0;
}


/* add some padding back to rest of page */

main {
padding: 2vw;
}

/* navbar */
.navbar {
background-color: #333;
color: whitesmoke;
display: flex;
flex-direction: column;
font-size: 1.5rem;
margin-bottom: 1rem;
padding: 1rem; 
}

/* logo */
.logo {
display: flex;
align-items: center;
}

.logo img {
height: 3vw; 
width: 3vw;
}

.logo h1 {
font-size: 1.2em;
}


/* navigation list */

.navbar-links li {
list-style: none;
display: block;
padding: 0.5em 0; 

}


/*  
 style all a tags in header 
 and then on hover
*/
.navbar-links a {
color: whitesmoke;
background-color: #333;
font-size: 1.2rem; 
padding: 1rem 1.25rem; 
letter-spacing: 2px;
text-decoration: none; 
display: inline-block;
}

.navbar-links a:hover,
.navbar-links a:focus {
filter: invert(1);
border-radius: 10px;
outline: none;
}


/* 
media query for non-mobile nav bar
min-width set to width of nav elements 
such that no text wraps 
*/
@media screen and (min-width: 60rem) {
.navbar {
flex-direction: row;
justify-content: space-between;
}

.navbar ul {
display:flex;
justify-content: space-between;

}

}

.off-screen-menu {
background-color: #333;
height: 100vh; 
width: 100%;
max-width: 450px;
position: fixed;
top: 0;
right: -450px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 3rem;
transition: .3ease;
}

.off-screen menu.active {
right: 0; 
}

nav {
padding: 1rem;
display: flex;
background-color: #333;
}
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

:root {
  --background: rgba(0, 214, 170, .85);
}

*, *::before, *::after {
  box-sizing: border-box;
}
body {
	margin: 0;
    background-color: #B3FACD;
    font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

.content {
  height: 200vh;
  background-image: url(//unsplash.it/1000/1000);
  background-color: #B3FACD;
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  place-items: center;
}
