body {
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
background-color:#43B6D9;
color: #594C48;
}
h1, h2, h3, h4, h5, h6 {
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 30pt;

}
header {
text-align: center;


}

#hero, footer {
text-align: center;
background-color: #D96243;
border: 4px solid #D98E43;
padding: 10px; 


}
#hero img {
width: 300px;

}

#bio{
text-align: left;
font-size: 20px;
}

#hobbies ul :nth-child(even){
text-align: left;
color:blueviolet;
}

#hobbies ul :nth-child(odd){
text-align: left;
color:green;
}









